.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1abc9c;
}

.footer p {
    margin-top: 25px;
    font-size: 12px;
    color: #fff;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Calluna, Arial, sans-serif;
    min-height: 1000px;
}

#wrap {
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

.columns_2 figure {
    width: 49%;
    margin-right: 1%;
}

.columns_2 figure:nth-child(2) {
    margin-right: 0;
}

.columns_3 figure {
    width: 32%;
    margin-right: 1%;
}

.columns_3 figure:nth-child(3) {
    margin-right: 0;
}

.columns_4 figure {
    width: 24%;
    margin-right: 1%;
}

.columns_4 figure:nth-child(4) {
    margin-right: 0;
}

.columns_5 figure {
    width: 19%;
    margin-right: 1%;
}

.columns_5 figure:nth-child(5) {
    margin-right: 0;
}

#columns figure:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

div#columns figure {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 0px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

div#columns figure img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
    font-size: 2rem;
    color: #444;
    line-height: 1.5;
    height: 60px;
    font-weight: 600;
    text-overflow: ellipsis;
}

a.button {
    padding: 10px;
    background: salmon;
    margin: 10px;
    display: block;
    text-align: center;
    color: #fff;
    transition: all 1s linear;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border-bottom: 3px solid #ff6536;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

a.button:hover {
    background: #ff6536;
    border-bottom: 3px solid salmon;
    color: #f1f2f3;
}

@media screen and (max-width: 960px) {
    #columns figure {
        width: 24%;
    }
}

@media screen and (max-width: 767px) {
    #columns figure {
        width: 32%;
    }
}

@media screen and (max-width: 600px) {
    #columns figure {
        width: 49%;
    }
}

@media screen and (max-width: 500px) {
    #columns figure {
        width: 100%;
    }
}

.pd-wrap {
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
}

.heading-section {
    text-align: center;
    margin-bottom: 20px;
}

.sub-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-section h2 {
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}

.carousel-testimonial .item {
    padding: 30px 10px;
}

.quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}

.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}

.position {
    color: #adadad;
    font-size: 14px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    height: 25px;
}

.owl-nav button svg {
    width: 25px;
    height: 25px;
}

.owl-nav button.owl-prev {
    left: 25px;
}

.owl-nav button.owl-next {
    right: 25px;
}

.owl-nav button span {
    font-size: 45px;
}

.product-thumb .item img {
    height: 100px;
}

.product-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}

.product-price-discount {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}

.product-price-discount span.line-through {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.product-info {
    width: 100%;
}

.reviews-counter {
    font-size: 13px;
}

.reviews-counter span {
    vertical-align: -2px;
}

.rate {
    float: left;
    padding: 0 10px 0 0;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 20px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 25px;
    color: #ccc;
    margin: 5px;
    margin-bottom: 0;
    line-height: 21px;
}

.rate:not(:checked)>label:before {
    content: '\2605';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.product-dtl p {
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
}

.product-dtl .form-control {
    font-size: 15px;
}

.product-dtl label {
    line-height: 16px;
    font-size: 15px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.product-count {
    margin-top: 15px;
}

.product-count .qtyminus,
.product-count .qtyplus {
    width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}

.product-count .qtyminus {
    border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
    border-radius: 0 3px 3px 0;
}

.product-count .qty {
    width: 60px;
    text-align: center;
}

.round-black-btn {
    border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
}

.round-black-btn:hover,
.round-black-btn:focus {
    background: transparent;
    color: #212529;
    text-decoration: none;
}

.product-info-tabs {
    margin-top: 25px;
}

.product-info-tabs .nav-tabs {
    border-bottom: 2px solid #d8d8d8;
}

.product-info-tabs .nav-tabs .nav-item {
    margin-bottom: 0;
}

.product-info-tabs .nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: #323232;
}

.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
    border: none;
}

.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
    border: none;
    border-bottom: 2px solid #d8d8d8;
    font-weight: bold;
}

.product-info-tabs .tab-content .tab-pane {
    padding: 30px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #7a7a7a;
}

.review-form .form-group {
    clear: both;
}

.mb-20 {
    margin-bottom: 20px;
}

.review-form .rate {
    float: none;
    display: inline-block;
}

.review-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}

.review-form .form-control {
    font-size: 14px;
}

.review-form input.form-control {
    height: 40px;
}

.review-form textarea.form-control {
    resize: none;
}

.review-form .round-black-btn {
    text-transform: uppercase;
    cursor: pointer;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px) {
    .testimonial-box {
        width: 100%;
    }
    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}

@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews {
        margin-top: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}